
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<div class="modal fade" role="dialog" id="AppointmentInput" data-dackdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="AppointmentForm" autocomplete="off" novalidate="novalidate">
                <div class="modal-header">
                    <h4 class="modal-title">Add/Edit Appointment</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="title">Title</label>
                        <input id="title" maxlength="100" type="tel" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="description">Description</label>
                        <textarea id="description" maxlength="100" type="tel" class="form-control"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="title">Select Patient</label>
                        <select id="patient-id" asp-items="@(new SelectList( ViewBag.PateintList,"Id","Name"))" class="form-control">                           
                        </select>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>
