
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<div class="modal fade" role="dialog" id="AppointmentInput" data-dackdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div>Hello!</div>
        </div>
    </div>

</div>
