@inject Microsoft.AspNetCore.Identity.SignInManager<Microsoft.AspNetCore.Identity.IdentityUser> SigInManager
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@if(SigInManager.IsSignedIn(User))
{

}
else
{
    <ul class="nav navbar-nav">
        @*<li>@Html.ActionLink("Sign Up","Register","Account",routeValues:null,htmlAttributes:new  { id="RegisterLink"})</li>
        <li>@Html.ActionLink("Sign In","Login","Account",routeValues:null,htmlAttributes:new  { id= "LoginLink" })</li>*@
        <li class="nav-item"><a id="RegisterLink" asp-action="Register" asp-controller="Account" class="nav-link text-white">Sign Up</a></li>
        <li class="nav-item"><a id= "LoginLink" asp-action="Login" asp-controller="Account" class="nav-link text-white">Sign In</a></li>
    </ul>
}