@using AppointmentScheduling.Utility
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <div class="container">
        @if (User.IsInRole(Helper.Admin))
        { 
            <div class="form-group row col-2" id="DivDoctorList">
                <label>Select Doctor</label>
                @Html.DropDownList("doctorId",new SelectList(ViewBag.DoctorList,"Id","Name"),new  {@class="form-control select2" , @onchange= "onDoctorChange();" })
            </div>
        }
    <div id="calendar"></div>
    </div>

</div>
<partial name="_AddEditAppointment" />

<div class="text-right pt-2">

    <p>@HttpContextAccessor.HttpContext.Session.GetString("SSUserName")'s Account Is Logged In</p>
</div>
